<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demuxed.com</title>
    <link rel="shortcut icon" href="https://archive.org/download/mx-player-icon/mx-player-icon.png" type="image/png">
    <link rel="stylesheet" href="/stylesheets/buy.css">
    <link rel="stylesheet" href="/stylesheets/media.css">
</head>

<body>
    <div id="main">
        <div class="container">
            <div class="container-image"></div>
        </div>


        <div class="container-1">
            <div class="container1-main">
                <img class="dillo" width="600px"
                    src="https://do3z7e6uuakno.cloudfront.net/uploads/event/logo/1122048/7d0fb82ea1c07c5708a3e96ed3374ad5.png"
                    alt="">
                <h2>Demuxed 2022</h2>
                <div class="location">
                    <img  height="20px" src="https://img.icons8.com/ios/50/228BE6/calendar-plus.png"/>
                    <span class="calendar"> October 12th-13th,2022</span>
                    <img height="20px"  src="https://img.icons8.com/color/48/null/marker--v1.png"/>
                    <span> San Francisco, CA</span>
                </div>

                <h1>Demuxed is the conference for video engineers.</h1>
                <p>There are plenty of events out there for the people creating video content or monetizing it, but this
                    is for the engineers. Our goal is to be a quality, technical conference for and by the engineers
                    working on video technology.</p>
                <p>For 2022 we're filling another 2 days with amazing technical content. We're happy to be back at
                    Bespoke in the Westfield Mall in downtown San Francisco.</p>

                <h3> Ticket Types</h3>
                <p>With the exception of Online Only, all types of Demuxed tickets are the same and get you into both
                    days of the conference, along with lunch on both days, as well as the party. There are fewer of the
                    cheaper tickets available, be sure to snap one up soon! Swag kits will only be available for
                    in-person attendees and we plan to have an online store where virtual folks can buy t-shirts.</p>
                <h3>Refund Policy</h3>
                <p>Demuxed will allow refunds until September 12, 2022. If we do not have a written request by this date
                   <a href="">(info@demuxed.com)</a>, tickets will not be refunded. If you realize you are unable to attend after this
                    date, you are welcome to transfer your ticket to another attendee. Transfers will be accommodated
                    through October 10, 2022.</p>
                <h3>Code of Conduct</h3>
                <p>By registering for and attending Demuxed, you are agreeing to abide by the <a href="">Conference Code of
                    Conduct.

                    https://2022.demuxed.com/</a> </p>

            </div>

            <div class="container1-main-bottom">
                <div class="registration">
                    <p>Tickets</p>
                    <h5>Registration is not currently available.</h5>
                </div>
               
                <div class="join">
                    <h6>Sign Up for the Demuxed mailing list</h6>
                    <form  action="">
                        <div class="box">
                            <h4>Name</h4>
                            <input type="text">
                        </div>
                    <div class="box">
                        <h4>*Email</h4>
                        <input type="text">
                    </div>
                        
                        <button>Join List</button>
                    </form>
                </div>


                <div class="footer">
                   <p>By the power of Tito. © 2011–2022 Team Tito. View our Privacy Policy.</p>
                   <p>Retrieve your ticket.</p>
                </div>

            </div>



          
        </div>
    </div>
</body>

</html>