<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Demuxed.com</title>
  <link rel="shortcut icon" href="https://archive.org/download/mx-player-icon/mx-player-icon.png" type="image/png">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/buy.css">
  <link rel="stylesheet" href="/stylesheets/media.css">
</head>

<body>
  <div class="containering">
    <nav class="tickets">
      <img width="150px" src="https://2022.demuxed.com/assets/svg/logo-white.svg" alt="">
      <ul>
        <a href="/why">Why attend</a>
        <a href="">Venue</a>
        <a href="">Speakers</a>
        <a href="">Schedule</a>
        <a href="">About us</a>
        <a href="">Sponsors</a>
        <a href="/buy">Buy ticket</a>
        <form action=""><a href="/create"><button>Watch live</button></a></form>
        <div class="menu">
        <div class="line line1"></div>
        <div class="line line1"></div>
        <div class="line line2"></div>
      </div>
      </ul>
    </nav>


    <div class="ticket">
      <div class="card">
<h1>Enter your ticket id</h1>
<p>E.G. G0XA-19</p>
<input type="text" name="" placeholder="GOXA-19">
<button class="mango" type="submit">Submit</button>
<button class="orange">Invalid code</button>
<h3>I dont't have a ticket</h3>
      </div>
    </div>
  </div>


  <div id="page11">
    <div class="page11-footer-image"></div>
    <div class="page11-footer">
      <div class="page11-image">
        <img width="170px" src="https://2022.demuxed.com/assets/svg/logo-white.svg" alt="">
        <p class="nerds"> organized with
          <span><img height="25px" src="https://2022.demuxed.com/assets/images/community.png" alt=""> </span>
          by video nerds around the world
        </p>
      </div>

      <div class="page11-contact">
        <h2>Contact</h2>
        <a href="">info@demuxed.com</a>
      </div>

      <div class="page11-staff">
        <h2>Legal Stuff</h2>
        <a href="">Code of Conduct</a>
      </div>


      <div class="page11-logo">
        <img height="50px" src="https://2022.demuxed.com/assets/images/twitter.png" alt="">
        <img height="50px" src="https://2022.demuxed.com/assets/images/youtube.png" alt="">
        <img height="50px" src="https://2022.demuxed.com/assets/images/facebook.png" alt="">
      </div>


    </div>
  </div>
</body>

</html>