<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Demuxed.com</title>
  <link rel="shortcut icon" href="https://archive.org/download/mx-player-icon/mx-player-icon.png" type="image/png">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/media.css">
</head>

<body>
<div class="overlay">
<div class="cross">
  <img height="20px" src="https://th.bing.com/th/id/R.126a955c92129428cd02648cf120f327?rik=x4NquRJ3AuOcAA&riu=http%3a%2f%2fcdn.onlinewebfonts.com%2fsvg%2fdownload_347207.png&ehk=emxnT8TzLwI2nYNzuBb7Z%2f%2bAJTuqqT9b4ocu0mdwuDE%3d&risl=&pid=ImgRaw&r=0" alt="">
</div>
<div class="overlay-nav">
  <a href="/#page2">Why attend</a>
  <a href="/#page3">Venue</a>
  <a href="/#page5">Speakers</a>
  <a href="/#page6">Schedule</a>
  <a href="/#page8">About us</a>
  <a href="/#page10">Sponsors</a>
  <a href="/buy">Buy ticket</a>
 <form action="/add"><a href="/create"><button class="roaming">Watch live</button></a></form>
</div>
</div>


  <div id="main">
    <div id="page1">
      <nav>
        <img width="150px" src="https://2022.demuxed.com/assets/svg/logo-white.svg" alt="">
        <ul>
          <a href="/#page2">Why attend</a>
          <a href="/#page3">Venue</a>
          <a href="/#page5">Speakers</a>
          <a href="/#page6">Schedule</a>
          <a href="/#page8">About us</a>
          <a href="/#page10">Sponsors</a>
          <a href="/buy">Buy ticket</a>
         <form action="/add"><a href="/create"><button>Watch live</button></a></form>
          <div class="menu">
            <div class="line line1"></div>
            <div class="line line1"></div>
            <div class="line line2"></div>
          </div>
        </ul>
      </nav>

      <div class="page1-main">
        <h1>The Conference for Video Engineers</h1>
        <p>October 12th - 13th, 2022 San Francisco </p>
        <div class="king">
         <a href="/buy"><button >BUY TICKETS</button></a>
         <form action="/add"><a href="/create"></a> <button>WATCH LIVE</button></a></form>
        </div>
      </div>
<div class="page1-images">
  <img src="" alt="">
</div>
      
    </div>

    <!-- -------------------------------------------------PAGE2-CONTENT-------------------------------------------- -->


    <div id="page2">
      <div class="page2-main">
        <div class="page2-left"></div>

        <div class="page2-right">
          <h1>Why attend?</h1>
          <div class="box">
            <img height="50px" src="https://2022.demuxed.com/assets/images/no-paid-content.png" alt="">
            <h2>No marketing, ever.</h2>
          </div>
          <p>Speakers are selected based on their submission, not how much money their company paid; we will never, ever
            sell a speaking slot. Attendee information isn't for sale either, and that includes any sponsors.</p>

          <div class="box">
            <img height="50px" src="https://2022.demuxed.com/assets/images/affordable.png" alt="">
            <h2>Affordable.</h2>
          </div>
          <p>We want anyone in the industry to be able to come, which means keeping tickets reasonably priced (thanks
            largely to our generous sponsors). We also offer free and discounted tickets to students and open source
            contributors, so please reach out if you're interested..</p>

          <div class="box">
            <img height="50px" src="https://2022.demuxed.com/assets/images/community.png" alt="">
            <h2>For everyone in the community.</h2>
          </div>
          <p>Our community is dedicated to providing an inclusive, enjoyable experience for everyone in the video
            industry. In this pursuit, and in keeping with our love for reasonable standards, we adopted the Ada
            Initiative's <a class="conduct" href="https://confcodeofconduct.com/">code of conduct.</a></p>
        </div>
      </div>
    </div>


    <!-- -------------------------------------------------PAGE3-CONTENT-------------------------------------------- -->

    <div id="page3">
      <div class="page3-main">
        <img src="https://2022.demuxed.com/assets/images/venue.png" alt="">
      </div>
    </div>

    <!-- -------------------------------------------------PAGE4-CONTENT-------------------------------------------- -->

    <div id="page4">
      <div class="page4-main">
        <h1>Venue and Location</h1>
        <a href="https://bespokesf.co/">Bespoke</a>
        <h3>845 Market St, Suite 450, San Francisco, CA 94103</h3>
        <p>Bespoke is a large, configurable, high-tech conference space right in the heart of downtown San Francisco. It
          is easily accessible via BART and Muni. Bespoke is located inside the Westfield San Francisco Centre mall on
          level 4, next to Bloomingdale’s Westfield San Francisco Centre.</p>
        <p>Bespoke also played host to Demuxed in 2018, but we promise the chairs are much better this year!</p>
      </div>
    </div>

    <!--------------------------------------------------PAGE5-CONTENT------------------------------------------------>

    <div id="page5">
      <div class="page5-child">
        <div class="page5-child-image"></div>
        <h1>Our Speakers</h1>
      </div>
      <div class="page5-main">
        <div class="page5-main-box">
          <div class="page5-box-one">
            <div class="box-one-image"></div>
            <h1>Alex Converse</h1>
            <p>Twitch</p>
            <button class="talking">TALK OVERVIEW</button>
          </div>

          <div class="page5-box-one">
            <div class="box-one-image1"></div>
            <h1>Alex Zambelli</h1>
            <p>Warners Bros. Discovery</p>
            <button>TALK OVERVIEW</button>
          </div>
<div class="warner"></div>


          <div class="page5-box-one">
            <div class="box-one-image2"></div>
            <h1>Ali C. Begen</h1>
            <p>Ozyegin University / Comcast</p>
            <button >TALK OVERVIEW</button>
          </div>


          <div class="page5-box-one">
            <div class="box-one-image3"></div>
            <h1>Amy Rice</h1>
            <p>syd video</p>
            <button>TALK OVERVIEW</button>
          </div>

        </div>




        <div class="page5-main-box">
          <div class="page5-box-one">
            <div class="box-one-image4"></div>
            <h1>Christian Feldmann</h1>
            <p>Bitmovin</p>
            <button>TALK OVERVIEW</button>
          </div>

          <div class="page5-box-one">
            <div class="box-one-image5"></div>
            <h1>Christoph Guttandin</h1>
            <p>WMedia Codings</p>
            <button>TALK OVERVIEW</button>
          </div>



          <div class="page5-box-one">
            <div class="box-one-image6"></div>
            <h1>Cise Midoglu</h1>
            <p>OSimula Research Laboratory</p>
            <button>TALK OVERVIEW</button>
          </div>


          <div class="page5-box-one">
            <div class="box-one-image7"></div>
            <h1>Dan Jenkins</h1>
            <p>Broadcaster VC</p>
            <button>TALK OVERVIEW</button>
          </div>

        </div>

        <div class="page5-main-box">
          <div class="page5-box-one">
            <div class="box-one-image8"></div>
            <h1>Dan Sparacio</h1>
            <p>Paramount</p>
            <button>TALK OVERVIEW</button>
          </div>

          <div class="page5-box-one">
            <div class="box-one-image9"></div>
            <h1>Derek Buitenhuis</h1>
            <p>Vimeo</p>
            <button>TALK OVERVIEW</button>
          </div>

          <div class="page5-box-one">
            <div class="box-one-image10"></div>
            <h1>Dylan Armajani</h1>
            <p>Akamai</p>
            <button>TALK OVERVIEW</button>
          </div>

          <div class="page5-box-one">
            <div class="box-one-image11"></div>
            <h1>Emil Santurio</h1>
            <p>Qualabs</p>
            <button>TALK OVERVIEW</button>
          </div>
        </div>

        <div class="page5-main-box">
          <div class="page5-box-one">
            <div class="box-one-image12"></div>
            <h1>Emmanuel Papirakis</h1>
            <p>Amazon</p>
            <button>TALK OVERVIEW</button>
          </div>

          <div class="page5-box-one">
            <div class="box-one-image13"></div>
            <h1>Guillaume Bichot</h1>
            <p>Broadpeak</p>
            <button>TALK OVERVIEW</button>
          </div>

          <div class="page5-box-one">
            <div class="box-one-image14"></div>
            <h1>Hadi Amirpour</h1>
            <p>Universität Klagenfurt</p>
            <button>TALK OVERVIEW</button>
          </div>

          <div class="page5-box-one">
            <div class="box-one-image15"></div>
            <h1>Hojatollah Yeganeh</h1>
            <p>SSIMWave</p>
            <button>TALK OVERVIEW</button>
          </div>
        </div>

        <div class="page5-main-box">
          <div class="page5-box-one">
            <div class="box-one-image16"></div>
            <h1>Jean-Baptiste Kempf</h1>
            <p>Videolan</p>
            <button>TALK OVERVIEW</button>
          </div>

          <div class="page5-box-one">
            <div class="box-one-image17"></div>
            <h1>Joey Parrish</h1>
            <p>Broadpeak</p>
            <button>TALK OVERVIEW</button>
          </div>

          <div class="page5-box-one">
            <div class="box-one-image18"></div>
            <h1>Kieran Kunhya</h1>
            <p>Open Broadcast Systems</p>
            <button>TALK OVERVIEW</button>
          </div>


          <div class="page5-box-one">
            <div class="box-one-image19"></div>
            <h1>Leon Lyakovetsky</h1>
            <p>Podium</p>
            <button>TALK OVERVIEW</button>
          </div>
        </div>

        <div class="page5-main-box">
          <div class="page5-box-one">
            <div class="box-one-image20"></div>
            <h1>Lionel Bringuier</h1>
            <p>Videon</p>
            <button>TALK OVERVIEW</button>
          </div>

          <div class="page5-box-one">
            <div class="box-one-image21"></div>
            <h1>Marc Höppner</h1>
            <p>Akamai</p>
            <button>TALK OVERVIEW</button>
          </div>

          <div class="page5-box-one">
            <div class="box-one-image22"></div>
            <h1>Mario Guggenberger</h1>
            <p>Bitmovin</p>
            <button>TALK OVERVIEW</button>
          </div>

          <div class="page5-box-one">
            <div class="box-one-image23"></div>
            <h1>Mattias Buelens</h1>
            <p>THEO</p>
            <button>TALK OVERVIEW</button>
          </div>
        </div>

        <div class="page5-main-box">
          <div class="page5-box-one">
            <div class="box-one-image24"></div>
            <h1>Nicolas Levy</h1>
            <p>Qualabs</p>
            <button>TALK OVERVIEW</button>
          </div>

          <div class="page5-box-one">
            <div class="box-one-image25"></div>
            <h1>Nidhi Kulkarni</h1>
            <p>Mux</p>
            <button>TALK OVERVIEW</button>
          </div>

          <div class="page5-box-one">
            <div class="box-one-image26"></div>
            <h1>Peter Howard</h1>
            <p>Practical Applied Strategy</p>
            <button>TALK OVERVIEW</button>
          </div>

          <div class="page5-box-one">
            <div class="box-one-image27"></div>
            <h1>Peter Tseng</h1>
            <p>Eluvio</p>
            <button>TALK OVERVIEW</button>
          </div>
        </div>

        <div class="page5-main-box">
          <div class="page5-box-one">
            <div class="box-one-image28"></div>
            <h1>Qingyuan Liu</h1>
            <p>Eluvio</p>
            <button>TALK OVERVIEW</button>
          </div>

          <div class="page5-box-one">
            <div class="box-one-image29"></div>
            <h1>Steve Robertson
            </h1>
            <p>Google</p>
            <button>TALK OVERVIEW</button>
          </div>

          <div class="page5-box-one">
            <div class="box-one-image30"></div>
            <h1>Thomas Davies</h1>
            <p>Visionular</p>
            <button>TALK OVERVIEW</button>
          </div>

          <div class="page5-box-one">
            <div class="box-one-image31"></div>
            <h1>Tom Howe</h1>
            <p>Disney</p>
            <button>TALK OVERVIEW</button>
          </div>
        </div>

        <div class="page5-main-box">
          <div class="page5-box-one">
            <div class="box-one-image32"></div>
            <h1>Vanessa Pyne</h1>
            <p>Daily</p>
            <button>TALK OVERVIEW</button>
          </div>

          <div class="page5-box-one">
            <div class="box-one-image33"></div>
            <h1>Vittorio Giovara
            </h1>
            <p>Vimeo</p>
            <button>TALK OVERVIEW</button>
          </div>


          <div class="page5-box-one">
            <div class="box-one-image34"></div>
            <h1>Walker Griggs</h1>
            <p>Mux</p>
            <button>TALK OVERVIEW</button>
          </div>


          <div class="page5-box-one">
            <div class="box-one-image35"></div>
            <h1>Will Law</h1>
            <p>Akamai</p>
            <button>TALK OVERVIEW</button>
          </div>

        </div>

        <div class="page5-main-box lucifer">
          <div class="page5-box-one">
            <div class="box-one-image36"></div>
            <h1>Yuriy Reznik
            </h1>
            <p>Brightcove</p>
            <button>TALK OVERVIEW</button>
          </div>

          <div class="page5-box-one">
            <div class="box-one-image37"></div>
            <h1>Zoe Liu
            </h1>
            <p>Visionular</p>
            <button>TALK OVERVIEW</button>
          </div>
        </div>
      </div>
    </div>

    <!-- -------------------------------------------------PAGE6-CONTENT--------------------------------------------- -->
    <div id="page6">
      <div class="page6-child">
        <div class="page6-child-image"></div>
        <h1>The Schedule</h1>
        <div class="page6-button">
          <button class="botn"><span>Day 1:</span> Wednesday, oct 12th</button>
          <button class="botny"><span>Day 2:</span> Thursday, oct 13th</button>
        </div>
      </div>
      <!-- <---------------------------------------Page6-main-box-1------------------------------------------>
      <div class="page6-main">
        <div class="page6-main-box">
          <div class="page6-main-box-left">
            <div class="page6-left-button">
              <img height="30px" src="https://2022.demuxed.com/assets/images/time.png" alt="">
              <h1>Wednesday 9:00 - 10:00 PDT</h1>
            </div>
            <h3>Breakfast</h3>
            <img class="ubntu" width="70px" src="https://2022.demuxed.com/assets/images/lunch.png" alt="">
          </div>

          <div class="page6-main-box-right">
            <div class="page6-left-button">
              <img height="30px" src="https://2022.demuxed.com/assets/images/time.png" alt="">
              <h1 class="time">Wednesday 10:00 - 10:15 PDT</h1>
            </div>
            <h3>Opening Remarks</h3>
            <div class="page6-right-image">
              <img height="100px"
                src="https://demuxed-speakers-2022.imgix.net/matt-mcclure.jpg?w=170&h=240&fit=facearea&facepad=3&auto=format,compress&q=70"
                alt="">
              <h3>Matt McClure</h3>
            </div>
          </div>
        </div>


        <!-- <---------------------------------------Page6-main-box-2------------------------------------------>


        <div class="page6-main-box1">

          <div class="page6-main-box-left lefter">
            <div class="page6-left-button">
              <img height="30px" src="https://2022.demuxed.com/assets/images/time.png" alt="">
              <h1 class="time">Wednesday 10:15 - 10:40 PDT</h1>
            </div>
            <h3>Time for the Timing object</Obj>
            </h3>
            <div class="page6-right-image">
              <img height="100px"
                src="https://demuxed-speakers-2022.imgix.net/christoph-guttandin.jpg?w=170&h=240&fit=facearea&facepad=3&auto=format,compress&q=70"
                alt="">
              <h3>Christoph Guttandin<br><span>Media Codings</span></h3>

            </div>

          </div>

          <div class="page6-main-box-right righter">
            <div class="page6-left-button">
              <img height="30px" src="https://2022.demuxed.com/assets/images/time.png" alt="">
              <h1 class="time">Wednesday 10:40 - 10:55 PDT</h1>
            </div>
            <h3>UpFish: Scripted Audio Manipulation for Streaming Media</h3>
            <div class="page6-right-image">
              <img height="100px"
                src="https://demuxed-speakers-2022.imgix.net/joey-parrish.jpg?w=170&h=240&fit=facearea&facepad=3&auto=format,compress&q=70"
                alt="">
              <h3>Joey Parrish</h3>
            </div>
          </div>
        </div>


        <!-- <---------------------------------------Page6-main-box-3------------------------------------------>


        <div class="page6-main-box2">

          <div class="page6-main-box-right">
            <div class="page6-left-button">
              <img height="30px" src="https://2022.demuxed.com/assets/images/time.png" alt="">
              <h1 class="time">Wednesday 10:55 - 11:20 PDT</h1>
            </div>
            <h3>Fake it 'till you make it: Test patterns for fun and profit</h3>
            <div class="page6-right-image">
              <img height="100px"
                src="https://demuxed-speakers-2022.imgix.net/vanessa-pyne.jpg?w=170&h=240&fit=facearea&facepad=3&auto=format,compress&q=70"
                alt="">
              <h3>Vanessa Pyne <br><span>Daily</span></h3>
            </div>
          </div>

          <div class="page6-main-box-left">
            <div class="page6-left-button">
              <img height="30px" src="https://2022.demuxed.com/assets/images/time.png" alt="">
              <h1>Wednesday 11:20 - 11:35 PDT</h1>
            </div>
            <h3>Break</h3>
            <img width="70px" src="https://2022.demuxed.com/assets/images/break.png" alt="">
          </div>

        </div>

        <!-- <---------------------------------------Page6-main-box-3---------------------------------------- -->


        <div class="page6-main-box3">

          <div class="page6-main-box-left lefter">
            <div class="page6-left-button">
              <img height="30px" src="https://2022.demuxed.com/assets/images/time.png" alt="">
              <h1 class="time">Wednesday 11:35 - 12:00 PDT</h1>
            </div>
            <h3>Caption Me If You Can</Obj>
            </h3>
            <div class="page6-right-image">
              <img height="100px"
                src="https://demuxed-speakers-2022.imgix.net/dan-sparacio.jpg?w=170&h=240&fit=facearea&facepad=3&auto=format,compress&q=70"
                alt="">
              <h3>Dan Sparacio<br><span>Paramount</span></h3>

            </div>

          </div>

          <div class="page6-main-box-right righter">
            <div class="page6-left-button">
              <img height="30px" src="https://2022.demuxed.com/assets/images/time.png" alt="">
              <h1 class="time">Wednesday 10:40 - 10:55 PDT</h1>
            </div>
            <h3>Effective Per-Title Encoding For UGC Videos Using Machine Learning</h3>
            <div class="page6-right-image">
              <img height="100px"
                src="https://demuxed-speakers-2022.imgix.net/zoe-liu.jpg?w=170&h=240&fit=facearea&facepad=3&auto=format,compress&q=70"
                alt="">
              <h3>Zoe Liu <br><span>Visionular</span></h3>
            </div>
            <div class="page6-right-image">
              <img height="100px"
                src="https://demuxed-speakers-2022.imgix.net/thomas-davies.jpg?w=170&h=240&fit=facearea&facepad=3&auto=format,compress&q=70"
                alt="">
              <h3>Thomas Davies<br><span>Visionular</span></h3>
            </div>
          </div>
        </div>

        <!-- <---------------------------------------Page6-main-box-4---------------------------------------- -->


        <div class="page6-main-box1">

          <div class="page6-main-box-left lefter">
            <div class="page6-left-button">
              <img height="30px" src="https://2022.demuxed.com/assets/images/time.png" alt="">
              <h1 class="time">Wednesday 12:25 - 12:50 PDT</h1>
            </div>
            <h3>Panama: Controlling the Video Traffic Flows</Obj>
            </h3>
            <div class="page6-right-image">
              <img height="100px"
                src="https://demuxed-speakers-2022.imgix.net/tom-howe.jpg?w=170&h=240&fit=facearea&facepad=3&auto=format,compress&q=70"
                alt="">
              <h3>Tom Howe<br><span>Disney</span></h3>

            </div>

          </div>

          <div class="page6-main-box-right righter">
            <div class="page6-left-button">
              <img height="30px" src="https://2022.demuxed.com/assets/images/time.png" alt="">
              <h1 class="time">Wednesday 12:50 - 13:50 PDT</h1>
            </div>
            <h3>Lunch, sponsored by:</h3>
            <div class="page6-right-image">
              <img height="60px" src="https://2022.demuxed.com/assets/images/lunch.png" alt="">
              <img class="livo" height="120px" width="250px" src="https://2022.demuxed.com/assets/svg/sponsors/telestream-lunch.svg"
                alt="">
            </div>
          </div>
        </div>


        <!-- <---------------------------------------Page6-main-box-5---------------------------------------- -->




        <div class="page6-main-box1">

          <div class="page6-main-box-left lefter">
            <div class="page6-left-button">
              <img height="30px" src="https://2022.demuxed.com/assets/images/time.png" alt="">
              <h1 class="time">Wednesday 13:50 - 14:05 PDT</h1>
            </div>
            <h3>Baby’s first HTML5 <=video element</Obj>
            </h3>
            <div class="page6-right-image">
              <img height="100px"
                src="https://demuxed-speakers-2022.imgix.net/mattias-buelens.jpg?w=170&h=240&fit=facearea&facepad=3&auto=format,compress&q=70"
                alt="">
              <h3>Mattias Buelens<br><span>THEO</span></h3>

            </div>

          </div>

          <div class="page6-main-box-right righter">
            <div class="page6-left-button">
              <img height="30px" src="https://2022.demuxed.com/assets/images/time.png" alt="">
              <h1 class="time">Wednesday 14:05 - 14:30 PDT</h1>
            </div>
            <h3>Low latency server side adaptive bitrate streaming supersedes client side algorithms</h3>
            <div class="page6-right-image">
              <img height="100px"
                src="https://demuxed-speakers-2022.imgix.net/guillaume-bichot.jpg?w=170&h=240&fit=facearea&facepad=3&auto=format,compress&q=70"
                alt="">
              <h3>Guillaume Bichot<br><span>Broadpeak</span></h3>
            </div>
          </div>
        </div>



        <!-- <---------------------------------------Page6-main-box-6---------------------------------------- -->


        <div class="page6-main-box4">


          <div class="page6-main-box-right righter">
            <div class="page6-left-button">
              <img height="30px" src="https://2022.demuxed.com/assets/images/time.png" alt="">
              <h1 class="time">Wednesday 14:30 - 14:45 PDT</h1>
            </div>
            <h3>How we "ScaleUP" the next generation of us: Learning video and a de-LIGHT-ful Player</h3>
            <div class="page6-right-image">
              <img height="100px"
                src="https://demuxed-speakers-2022.imgix.net/nicolas-levy.jpg?w=170&h=240&fit=facearea&facepad=3&auto=format,compress&q=70"
                alt="">
              <h3>
                Nicolas Levy <br><span>Qualabs</span></h3>
            </div>
            <div class="page6-right-image">
              <img height="100px"
                src="https://demuxed-speakers-2022.imgix.net/emil-santurio.jpg?w=170&h=240&fit=facearea&facepad=3&auto=format,compress&q=70"
                alt="">
              <h3>Emil Santurio<br><span>Qualabs</span></h3>
            </div>
          </div>

          <div class="page6-main-box-left lefter">
            <div class="page6-left-button">
              <img height="30px" src="https://2022.demuxed.com/assets/images/time.png" alt="">
              <h1 class="time">Wednesday 14:45 - 15:00 PDT</h1>
            </div>
            <h3>Live is Life: Per-Title Encoding for Live Video Workflows</Obj>
            </h3>
            <div class="page6-right-image">
              <img height="100px"
                src="https://demuxed-speakers-2022.imgix.net/hadi-amirpour.jpg?w=170&h=240&fit=facearea&facepad=3&auto=format,compress&q=70"
                alt="">
              <h3>Hadi Amirpour<br><span>Universität Klagenfurt</span></h3>
            </div>
          </div>
        </div>


        <!-- <---------------------------------------Page6-main-box-6---------------------------------------- -->

        <div class="page6-main">
          <div class="page6-main-box5">

            <div class="page6-main-box-left">
              <div class="page6-left-button">
                <img height="30px" src="https://2022.demuxed.com/assets/images/time.png" alt="">
                <h1>Wednesday 15:00 - 15:15 PDT</h1>
              </div>
              <h3>Break</h3>
              <img width="70px" src="https://2022.demuxed.com/assets/images/break.png" alt="">
            </div>

            <div class="page6-main-box-right">
              <div class="page6-left-button">
                <img height="30px" src="https://2022.demuxed.com/assets/images/time.png" alt="">
                <h1 class="time">Wednesday 15:15 - 15:30 PDT</h1>
              </div>
              <h3>A content owner, a CDN and a player walk into a bar.</h3>
              <div class="page6-right-image">
                <img height="100px"
                  src="https://demuxed-speakers-2022.imgix.net/marc-h%C3%B6ppner.jpg?w=170&h=240&fit=facearea&facepad=3&auto=format,compress&q=70"
                  alt="">
                <h3>Marc Höppner<br><span>Akamai</span></h3>
              </div>
            </div>
          </div>

          <!-- <---------------------------------------Page6-main-box-7---------------------------------------- -->

          <div class="page6-main-box1">

            <div class="page6-main-box-left lefter">
              <div class="page6-left-button">
                <img height="30px" src="https://2022.demuxed.com/assets/images/time.png" alt="">
                <h1 class="time">Wednesday 15:30 - 15:55 PDT</h1>
              </div>
              <h3>Video Remixing at the Edge</Obj>
              </h3>
              <div class="page6-right-image">
                <img height="100px"
                  src="https://demuxed-speakers-2022.imgix.net/peter-howard.jpg?w=170&h=240&fit=facearea&facepad=3&auto=format,compress&q=70"
                  alt="">
                <h3>Peter Howard<br><span>Practical Applied Strategy</span></h3>

              </div>

            </div>

            <div class="page6-main-box-right righter">
              <div class="page6-left-button">
                <img height="30px" src="https://2022.demuxed.com/assets/images/time.png" alt="">
                <h1 class="time">Wednesday 15:55 - 16:10 PDT</h1>
              </div>
              <h3>Updates from the Open Source Multimedia community</h3>
              <div class="page6-right-image">
                <img height="100px"
                  src="https://demuxed-speakers-2022.imgix.net/jean-baptiste-kempf.jpg?w=170&h=240&fit=facearea&facepad=3&auto=format,compress&q=70"
                  alt="">
                <h3>Jean-Baptiste Kempf
                  <br><span>Videolan</span>
                </h3>
              </div>
            </div>
          </div>

          <!-- <---------------------------------------Page6-main-box-8---------------------------------------- -->


          <div class="page6-main-box2">

            <div class="page6-main-box-right">
              <div class="page6-left-button">
                <img height="30px" src="https://2022.demuxed.com/assets/images/time.png" alt="">
                <h1 class="time">Wednesday 16:10 - 16:35 PDT</h1>
              </div>
              <h3>A journey from manual to fully automatic video player testing</h3>
              <div class="page6-right-image">
                <img height="100px"
                  src="https://demuxed-speakers-2022.imgix.net/mario-guggenberger.jpg?w=170&h=240&fit=facearea&facepad=3&auto=format,compress&q=70"
                  alt="">
                <h3>Mario Guggenberger<br><span>Bitmovin</span></h3>
              </div>
            </div>

            <div class="page6-main-box-left">
              <div class="page6-left-button">
                <img height="30px" src="https://2022.demuxed.com/assets/images/time.png" alt="">
                <h1>Wednesday 16:35 - 16:50 PDT</h1>
              </div>
              <h3>Break</h3>
              <img width="70px" src="https://2022.demuxed.com/assets/images/break.png" alt="">
            </div>
          </div>


          <!-- <---------------------------------------Page6-main-box-9---------------------------------------- -->


          <div class="page6-main-box3">

            <div class="page6-main-box-left lefter">
              <div class="page6-left-button">
                <img height="30px" src="https://2022.demuxed.com/assets/images/time.png" alt="">
                <h1 class="time">Wednesday 16:50 - 17:15 PDT</h1>
              </div>
              <h3>Catching the Moment in Low-Latency Live Streaming</Obj>
              </h3>
              <div class="page6-right-image">
                <img height="100px"
                  src="https://demuxed-speakers-2022.imgix.net/ali-c-begen.jpg?w=170&h=240&fit=facearea&facepad=3&auto=format,compress&q=70"
                  alt="">
                <h3>Ali C. Begen<br><span>Ozyegin University / Comcast</span></h3>

              </div>

            </div>

            <div class="page6-main-box-right righter">
              <div class="page6-left-button">
                <img height="30px" src="https://2022.demuxed.com/assets/images/time.png" alt="">
                <h1 class="time">Wednesday 17:15 - 17:40 PDT</h1>
              </div>
              <h3>FFMARK - An Open Framework for Forensic Watermarking</h3>
              <div class="page6-right-image">
                <img height="100px"
                  src="https://demuxed-speakers-2022.imgix.net/peter-tseng.jpg?w=170&h=240&fit=facearea&facepad=3&auto=format,compress&q=70"
                  alt="">
                <h3>Peter Tseng<br><span>Eluvio</span></h3>
              </div>
              <div class="page6-right-image">
                <img height="100px"
                  src="https://demuxed-speakers-2022.imgix.net/qingyuan-liu.jpg?w=170&h=240&fit=facearea&facepad=3&auto=format,compress&q=70"
                  alt="">
                <h3>
                  Qingyuan Liu<br><span>Eluvio</span></h3>
              </div>
            </div>
          </div>

          <!-- <---------------------------------------Page6-main-box-9---------------------------------------- -->

          <div class="page6-main-box6">

            <div class="page6-main-box-left lefter">
              <div class="page6-left-button">
                <img height="30px" src="https://2022.demuxed.com/assets/images/time.png" alt="">
                <h1 class="time">Wednesday 17:40 - 17:55 PDT</h1>
              </div>
              <h3>What HDR format preserves creative intent better?</Obj>
              </h3>
              <div class="page6-right-image">
                <img height="100px"
                  src="https://demuxed-speakers-2022.imgix.net/hojatollah-yeganeh.jpg?w=170&h=240&fit=facearea&facepad=3&auto=format,compress&q=70"
                  alt="">
                <h3>Hojatollah Yeganeh<br><span>SSIMWave</span></h3>

              </div>

            </div>

            <div class="page6-main-box-right righting">
              <div class="page6-left-button">
                <img height="30px" src="https://2022.demuxed.com/assets/images/time.png" alt="">
                <h1 class="time">Wednesday 17:55 - 18:20 PDT</h1>
              </div>
              <h3>Clever Monkeys Communicating Discreetly</h3>
              <div class="page6-right-image">
                <img height="100px"
                  src="https://demuxed-speakers-2022.imgix.net/will-law.jpg?w=170&h=240&fit=facearea&facepad=3&auto=format,compress&q=70"
                  alt="">
                <h3>Will Law
                  <br><span>Akamai</span>
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <!-- -------------------------------------------------PAGE7-CONTENT-------------------------------------------- -->


    <div id="page7">
      <div class="page7-child">
        <div class="page7-child-image"></div>
      </div>


      <div class="page7-main">
        <img height="490px" src="https://2022.demuxed.com/assets/images/about-images-1.jpg" alt="">
      </div>
    </div>

    <!-- -------------------------------------------------PAGE8-CONTENT-------------------------------------------- -->


    <div id="page8">
      <div class="page8-main">
        <div class="page8-left">
          <h1>About us</h1>
          <p>Demuxed is simply engineers talking about video technology. After years of chatting about video at the SF
            Video Technology Meetup, we decided it was time for an engineer-first event with quality technical talks
            about video. Our focus has traditionally been on content delivered over the web, but topics cover anything
            from encoding to playback and more!</p>
          <p>Most of the organization and work behind the scenes is done by folks from Mux (Demuxed came first ☝️) but
            none of this would be possible without amazing people from the meetup.</p>
          <p>Every year we get a group together that's kind enough to do things like schedule planning, help brainstorm
            cool swag, and, most importantly, argue heatedly over which talk submissions should make the final cut.</p>
        </div>

        <div class="page8-right">
          <div class="page8-right-image"></div>
        </div>
      </div>
    </div>

    <!-- -------------------------------------------------PAGE9-CONTENT-------------------------------------------- -->

    <div id="page9">
      <div class="page9-main">
        <img src="https://2022.demuxed.com/assets/images/about-images-2.jpg" alt="">
      </div>

    </div>
    <div class="page9-child">
      <div class="page9-child-image"></div>
    </div>


    <!----------------------------------PAGE10-CONTENT---------------------------------- -->


    <div id="page10">
      <div class="page10-main">

        <div class="page10-child">
          <h1>Our Sponsors</h1>
          <button>PLATINUM <span>SPONSORS</span></button>
          <div class="page10-child-image">
            <img src="https://2022.demuxed.com/assets/svg/sponsors/daily.svg" alt="">
          </div>
        </div>

        <div class="page10-child1">
          <button>GOLD<SPAN> SPONSORS</SPAN></button>
          <div class="page10-child-main">
            <div class="page10-child-image1">
              <img src="https://2022.demuxed.com/assets/svg/sponsors/primevideo.svg" alt="">
            </div>

            <div class="page10-child-image1">
              <img src="https://2022.demuxed.com/assets/svg/sponsors/aws.svg" alt="">
            </div>

            <div class="page10-child-image1 imaging1">
              <img src="https://2022.demuxed.com/assets/svg/sponsors/sanity.svg" alt="">
            </div>
          </div>
        </div>

        <div class="page10-child2">
          <button>SILVER <span>SPONSORS</span></button>
          <div class="page10-child2-main">
            <div class="page10-chid2-left">
              <div class="page10-chid2-left-image">
                <img src="https://2022.demuxed.com/assets/svg/sponsors/jwplayer.svg" alt="">
              </div>

              <div class="page10-chid2-left-image">
                <img src="https://2022.demuxed.com/assets/svg/sponsors/lumen.svg" alt="">
              </div>

              <div class="page10-chid2-left-image1">
                <img src="https://2022.demuxed.com/assets/svg/sponsors/telestream.svg" alt="">
              </div>

            </div>
            <div class="page10-chid2-right">
              <div class="page10-chid2-left-image">
                <img src="https://2022.demuxed.com/assets/svg/sponsors/paramount.svg" alt="">
              </div>

              <div class="page10-chid2-left-image">
                <img src="https://2022.demuxed.com/assets/svg/sponsors/qualabs.svg" alt="">
              </div>


              <div class="page10-chid2-left-image1">
                <img src="https://2022.demuxed.com/assets/svg/sponsors/akamai.svg" alt="">
              </div>
            </div>
          </div>
        </div>

        <div class="page10-child3">
          <button>BRONZE <span>SPONSORS</span></button>
          <div class="page10-child3-main">
            <div class="page10-child3-main-image">
              <img src="https://2022.demuxed.com/assets/svg/sponsors/ssimwave.svg" alt="">
            </div>

            <div class="page10-child3-main-image">
              <img src="https://2022.demuxed.com/assets/svg/sponsors/fastly.svg" alt="">
            </div>

            <div class="page10-child3-main-image">
              <img src="https://2022.demuxed.com/assets/svg/sponsors/philo.svg" alt="">
            </div>

            <div class="page10-child3-main-image">
              <img src="https://2022.demuxed.com/assets/svg/sponsors/eluvio.svg" alt="">
            </div>

            <div class="page10-child3-main-image imaging">
              <img src="https://2022.demuxed.com/assets/svg/sponsors/ezdrm.svg" alt="">
            </div>

          </div>
        </div>
      </div>
    </div>

    <!-- ---------------------------------------PAGE11-CONTENT-------------------------------- -->
    <div id="page11">
      <div class="page11-footer-image"></div>
      <div class="page11-footer">
        <div class="page11-image">
          <img width="170px" src="https://2022.demuxed.com/assets/svg/logo-white.svg" alt="">
          <p class="nerds"> organized with
            <span><img height="25px" src="https://2022.demuxed.com/assets/images/community.png" alt=""> </span>
            by video nerds around the world
          </p>
        </div>

        <div class="page11-contact">
          <h2>Contact</h2>
          <a href="">info@demuxed.com</a>
        </div>

        <div class="page11-staff">
          <h2>Legal Stuff</h2>
          <a href="">Code of Conduct</a>
        </div>


        <div class="page11-logo">
          <img height="50px" src="https://2022.demuxed.com/assets/images/twitter.png" alt="">
          <img height="50px" src="https://2022.demuxed.com/assets/images/youtube.png" alt="">
          <img height="50px" src="https://2022.demuxed.com/assets/images/facebook.png" alt="">
        </div>


      </div>
    </div>
  </div>


  <script src="/javascripts/script.js"></script>
</body>
</html>